<?xml version="1.0" encoding="UTF-8" ?>
<suite name="接口测试套件">
    <test name="testdemo">
        <classes>
            <class name="com.tester.extend.demo.TestMethodDemo"/>
            <methods>
                <include name="test1"/>
                <include name="test2"/>
                <include name="test3"/>
                <include name="LogDemo"/>
            </methods>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>